@inherits MainLayoutModel


<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginDisplay></LoginDisplay>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div  @ref="@disqusBody"  class="content px-4">
        @Body
         @if (Convert.ToBoolean(objglobalSettings.DisqusEnabled))
        {
            <div id="disqus_thread" style="@((!DisqusState.getDisplayDisqus()) ? "display: none;" : "")"></div>
        }
    </div>
</div>
